# Ignore Python bytecode and cache files
_pycache_/
*.pyc
*.pyo

# Ignore virtual environments
venv/
.env
.venv/

# Ignore distribution / packaging
build/
dist/
*.egg-info/

# Ignore git directory
.git